<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Pickup-call</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="https://firebasestorage.googleapis.com/v0/b/vulthanosangular.appspot.com/o/IMGS%2Fpurchase%2F450_1000.png?alt=media&token=09d5fdf7-8237-4b88-9845-1583244dd63f"/>
  <ion-card>
    <ion-card-content>
      <p>Address: Fake address, 111</p>
      <p>Complement: Apto 222</p>
      <p>ZIp code: 35017</p>
      <p>City name - State</p>
    </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-item lines="inset">
      <ion-label position="floating">Notes </ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>
  </ion-list>
  <ion-button size="full" color="success">Create a pickup call</ion-button>
</ion-content>
